# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
.venv/
.ENV/

# Jupyter
.ipynb_checkpoints/

# Streamlit / local data
data/sessions.json
data/weaknesses.json

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
